name: gh-pages

on:
  push:
    branches:
      -main
      
jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: check if documentation was changed
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            src:
              - 'docs/**'
      
      - name: deploy to gh-pages
        if: steps.changes.outputs.src == 'true'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
    
    
    
