name: linter
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          
      - name: install pylint
        run: pip install pylint
      - name: analyse code with pylint
        run: |
          pylint --rcfile=.pylintrc --fail-under=10 `find -regextype egrep -regex '(.*.py)$'`
          
      - name: install flake8
        if: always()
        run: pip install flake8
      - name: analyse code with flake8
        if: always()
        run: flake8 --exit-zero --config=.flake8 hrosailing
        
